.ml-1r {
    margin-left: 1rem;
}
.mt-2r {
    margin-top: 2rem;
}
.mt-1vh {
    margin-top: 1vh;
}
.mr-1r {
    margin-right: 1rem;
}
.img-center-circle {
    width: 100%;
    height: auto;
    max-height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.fz-60{
    font-size: 60%;
}
.fz-70{
    font-size: 70%;
}

.wrapper-img-ava{
    width: 300px;
    height: 300px;
}

.my-butt{
    border: 1px solid  black;
}


.ava-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img-but{
    width: 300px;
    height: auto;
}

.coment-block{
    border-radius: 2%;
    border: 2px solid  green;
    width: 300px;
    height: 300px;
}

.container-top {
    width: 90%;
    margin: 1% 8% !important;
}

.wrapper-img-friends{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid  green;
}

.pad-0{
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0 0.1rem !important;
}

.mar-0{
    margin-bottom: 2rem;
    margin: 0 0 !important;
}

.blck {
    display: block !important;
}

.no-pad{
    padding: 0 0 !important;
}
