.bg-grey{
    background-color: rgb(223, 223, 223);
}

.bg-white{
    background-color: white !important;
}

.row-bot{
    margin-bottom: 0 !important;
    padding-bottom: 20px !important;
}

.ml-1r {
    margin-left: 1rem;
}
.pt-1r {
    padding-top: 1rem;
}
.mt-1vh {
    margin-top: 1vh;
}
.mr-1r {
    margin-right: 1rem;
}
.mt-05r{
    margin-top: .5rem;
}
.mt-1r{
    margin-top: 1rem;
}

.justify-text{
    text-align: justify !important;
}



.hover-w{
    color: black ;
}
a:hover{
    background-color: #fafafa !important;
    color: #1B5E20;
}

.click-like{
    color: #1B5E20 !important; 
}




.img-center-circle {
    width: 100%;
    height: auto;
    max-height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.fz-60{
    font-size: 60%;
}
.fz-70{
    font-size: 70%;
}

.wrapper-img-ava{
    width: 100%;
    height: auto;
}

.my-butt{
    border: 1px solid  black;
}


.ava-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img-but{
    width: 100%;
    height: auto;
}

.wrapper-status-w300{
    width: 300px;
    height: auto;
}

.coment-block{
    border-radius: 2%;
    border: 2px solid  green;
    width: 100%;
    height: auto;
}

.container-top {
    width: 90%;
    margin: 1% 8% !important;
}

.wrapper-img-friends{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px  black;
    overflow: hidden;
}

.pad-0{
    margin-bottom: 1.5rem;
    padding: 0 .25rem !important;
}

.mar-0{
    margin: 0 .5rem !important;
}

.blck {
    display: block !important;
}

.no-pad{
    padding: 0 0 !important;
}

.header-friends {
    margin-bottom: 1rem;
}

.round{
    width: 60px;
    height: 100%;
    max-height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.a-img{
    display: block;
    border-radius: 50%;
}

/* @media only screen and (min-width: 800px) and (max-width: 991.98px){
    .lx{
        width: 50% !important;
        margin-left: auto !important;
        left: auto !important;
        right: auto !important;
    }
} */

@media only screen and (min-width: 600px) and (max-width: 670px){
    .xm{
        width: 50% !important;
        margin-left: auto !important;
        left: auto !important;
        right: auto !important;
    }
    .bl-4x4{
        font-size: 30px;
    }
}

/* .or-2{
    float: right !important;
}
.or-1{
    float: left !important;
} */

@media only screen and (min-width: 300px) and (max-width: 1500px){
    /* .row-rev{
        display: flex !important; 
        flex-direction: column-reverse;
    } */
    .or-1-mb{
        margin-bottom: 1rem;
    }
    .hide-on-s{
        display: none;
    }

    .wrapper-status-w300{
        text-align: center !important;
    }
}

.p-0{
    margin-block-start: .1rem;
    margin-block-end: .1rem;
    font-weight: 400;
    font-size: 80%;
}

@media only screen and (min-width: 1500px){
    .show-more-s{
        display: none;
    }
}

.h-0{
    margin: 0 0 !important;
}

.collection .collection-item {
    padding: 0.5rem 0.5rem !important;
}

 .span-0 {
    margin-left: 0 !important;
    padding: 0 0 !important;
    min-width: 2rem !important;
}

.span-gitf {
    margin-left: 0 !important;
    padding: 0 0 !important;
}

.imgPost > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-row-0{
    margin-left: 0 !important;
   margin-right: 0 !important;
   margin-bottom: 0 !important;
}

.card-panel{
    padding: 1rem 1rem !important;
}
 
.imgPost {
    width: 60px !important;
    height: 60px !important;
    padding: 0 0 !important;
    object-fit: cover;
}

@media only screen and (max-width: 420px){
    .imgPost {
        width: 45px !important;
        height: 45px !important;
    }
}

.mb-1rem {
    margin-bottom: 1rem !important;
}