@import "~materialize-css/dist/css/materialize.min.css";

.ml-12r {
    margin-left: 12rem;
}

.pd-1r {
    padding: 0 1rem !important;
}
.pd-2r {
    padding: 0 2rem !important;
}
.pd-3r {
    padding: 0 3rem !important;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
a:hover {
    background-color: rgba(0,0,0,.1);
  }

a {
    padding: 0 15px ;
}

